/**********************************/
/* 1. CSS Reset
/* 2. Structure
/**********************************/

/**********************************/
/* 1. CSS Reset
/**********************************/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: Vollkorn, Georgia, serif;
  color: #222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-inline-size: 100%;
}

/**********************************/
/* 2. Structure
/**********************************/
.structure {
  display: grid;
  grid-template-columns: minmax(16rem, 1fr) 3fr 30rem;
  grid-template-areas:
    "header header header"
    "sidenav content ads"
    "footer footer footer";
}

.header {
  grid-area: header;
}

.sidenav {
  grid-area: sidenav;
}

.content {
  grid-area: content;
}

.ads {
  grid-area: ads;
}

.footer {
  grid-area: footer;
}
