/**********************************/
/* 1. CSS Reset
/* 2. Structure
/* 3. Header
/* 4. Sidenav
/* 5. Content
/* 6. Ads
/* 7. Footer
/**********************************/

/**********************************/
/* 1. CSS Reset
/**********************************/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body,
h1,
h2,
p,
ul,
li,
a,
blockquote {
  margin: 0;
  padding: 0;
}

body {
  font-family: Vollkorn, Georgia, serif;
  color: #222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  inline-size: 100%;
  max-inline-size: 100%;
  border-radius: 0.5rem;
}

/**********************************/
/* 2. Structure
/**********************************/
.structure {
  display: grid;
  grid-template-columns: minmax(16rem, 1fr) 3fr 30rem;
  grid-template-areas:
    "header header header"
    "sidenav content ads"
    "footer footer footer";
}

@media (max-width: 1200px) {
  .structure {
    grid-template-areas:
      "header header header"
      "sidenav content content"
      "sidenav ads ads"
      "footer footer footer";
  }
}

@media (max-width: 760px) {
  .structure {
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "sidenav"
      "content"
      "ads"
      "footer";
  }
}

/**********************************/
/* 3. Header
/**********************************/
.header {
  grid-area: header;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.header nav a {
  display: block;
  padding: 1rem;
  color: #fff;
  font-size: 1.8rem;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  transition: 0.1s;
}

.header nav a:hover {
  background: rgba(0, 0, 0, 0.5);
}

.logo {
  max-inline-size: 20rem;
}

@media (max-width: 760px) {
  .header {
    grid-template-columns: auto;
  }

  .logo {
    margin-block-end: 2rem;
  }

  .header nav ul {
    gap: 2rem;
  }

  .header nav a {
    font-size: 1.6rem;
  }
}

/**********************************/
/* 4. Sidenav
/**********************************/
.sidenav {
  grid-area: sidenav;
  background: #fafbfc;
  padding: 3rem;
}

.sidenav li a {
  display: block;
  min-inline-size: 10rem;
  max-inline-size: 14rem;
  margin-block-start: 0;
  margin-block-end: 3rem;
  margin-inline: auto;
  background: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 1.5rem 0rem rgba(44, 44, 44, 0.15);
  transition: 0.1s ease-out;
}

.sidenav li a:hover {
  background: #b07dfb;
}

@media (max-width: 760px) {
  .sidenav {
    padding-block: 0;
    padding-inline: 3rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .sidenav ul {
    display: flex;
  }

  .sidenav li {
    flex: 1 0 0.6rem;
  }

  .sidenav li a {
    margin-block: 3rem;
    margin-inline-end: 3rem;
  }
}

/**********************************/
/* 5. Content
/**********************************/
.content {
  grid-area: content;
  max-inline-size: 90rem;
  margin-inline: auto;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.col-wide {
  grid-column: 1 / -1;
}

.align-self-end {
  align-self: end;
}

.row-span-2 {
  grid-row: span 2;
}

.content p {
  font-size: 1.8rem;
  line-height: 1.6;
  letter-spacing: 0.005rem;
  color: rgba(0, 0, 0, 0.7);
}

.information p + p {
  margin-block-start: 3rem;
}

.title {
  color: #b07dfb;
}

.title h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
}

.title span {
  font-size: 1.4rem;
  font-style: italic;
}

.characteristics {
  display: flex;
  align-items: flex-start;
  column-gap: 3rem;
}

.characteristics div {
  inline-size: 8rem;
  text-align: center;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 1.5rem 0rem rgba(44, 44, 44, 0.15);
  position: relative;
}

.characteristics span {
  display: block;
  position: relative;
  inset-block-start: 0.2rem;
}

.characteristics .number,
.characteristics .label {
  color: #b07dfb;
  line-height: 1;
  margin-inline: auto;
}

.characteristics .number {
  margin-block: 1rem;
  font-size: 4.8rem;
}

.characteristics .label {
  font-size: 1.8rem;
  background: #fff;
  border-radius: 0 0 0.5rem 0.5rem;
  padding-block: 0.5rem;
}

.content .highlight {
  font-size: 1.4rem;
  color: #b07dfb;
  max-inline-size: 21.8rem;
}

.quote,
.info-list {
  align-self: start;
  padding: 3rem;
  border-radius: 0.5rem;
  color: #fff;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  box-shadow: 0.5rem 0.5rem 1.5rem 0rem rgba(44, 44, 44, 0.15);
}

.quote {
  font-size: 2.4rem;
  font-style: italic;
  text-align: center;
}

.info-list li {
  font-size: 1.8rem;
  font-family: "Courier New", Courier, monospace;
  padding: 1.5rem;
}

.info-list li:not(:last-child) {
  border-bottom: 0.2rem solid #b07dfb;
}

@media (max-width: 600px) {
  .content {
    grid-template-columns: auto;
  }
}

/**********************************/
/* 6. Ads
/**********************************/
.ads {
  grid-area: ads;
  background: #fafbfc;
  display: grid;
  align-content: start;
  padding: 3rem;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

/**********************************/
/* 7. Footer
/**********************************/
.footer {
  grid-area: footer;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
}

.footer p {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  padding: 3rem;
}
